<header id="arriba">
    <!-- Titulo logo login   -->
    <h3 class="titulo">Liceo Colibris</h3>
    <a href="index.html" id="imglogo"><img id="logo" src="./assets/images/logo.png" alt="logo"></a>
    <a href="login.html" id="imglogin"><fa-icon id="login" [icon]="faUser"></fa-icon></a>
    <!-- Barra de navegacion menu desplegable     -->
    <nav id="barranav">
      <ul class="enlaces-menu">
        <li><a href="quienessomos.html">Quienes Somos</a></li>
        <li><a href="contacto.html">Contactenos</a></li>
        <li><a href="#">Horarios</a>
          <ul>
            <li><a href="horarios.html">Horario Primaria</a></li>
            <li><a href="horarios.html">Horario Primaria</a></li>
            <li><a href="horarios.html">Horario Primaria</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- division botones mostrar/ocultar -->
    <!-- <div>
      <button id="btmostrar" onclick="mostrar();">Mostrar</button>
      <button id="btocultar" onclick="ocultar();">Ocultar</button>
    </div> -->
    <div class="ctn-buscador">
      <!-- Espacio del buscador -->
      <input type="text" name="buscador" id="buscador" placeholder="¿Que desea buscar?" onkeypress="capturaTecla(event)">
      <!-- el metodo onclick ejecuta la funcion realizarBusqueda que se encuentra en buscador.js -->
      <button onclick="realizarBusqueda()"><fa-icon [icon]="faSearch"></fa-icon></button>
      <div id="listadoBusqueda"></div>
    </div>
  </header>

  
