<footer>
    <div class="agenda">
      <h3>¿Listo para comenzar tu gira escolar?</h3>
      <p>Agenda tu cita con nuestro personal <a href="contacto.html">Click aqui</a></p>
    </div>
    <div class="caja">
      <h3>Acerca del liceo</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum id sed temporibus quidem eaque, voluptas
        at facere molestiae facilis rem quisquam excepturi ab voluptatem itaque iure, sint assumenda, quaerat
        perferendis.</p>
    </div>
    <div class="caja">
      <h3>Nuestros Programas</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum id sed temporibus quidem eaque, voluptas
        at facere molestiae facilis rem quisquam excepturi ab voluptatem itaque iure, sint assumenda, quaerat
        perferendis.</p>
    </div>
    <div class="caja">
      <h3>Documentos y ayuda</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum id sed temporibus quidem eaque, voluptas
        at facere molestiae facilis rem quisquam excepturi ab voluptatem itaque iure, sint assumenda, quaerat
        perferendis.</p>
    </div>
    <div class="caja">
      <h3>Mantente en contacto</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum id sed temporibus quidem eaque, voluptas
        at facere molestiae facilis rem quisquam excepturi ab voluptatem itaque iure, sint assumenda, quaerat
        perferendis.</p>
    </div>
    <div class="redes">
      <h3 id="siguenos">Siguenos</h3>
      <a href="https://www.instagram.com/" target="_blank">
        <img id="instagram" src="./assets/instagram.png" alt="logo">
      </a>
      <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i>
        <img id="facebook" src="./assets/facebook.png" alt="logo">
      </a>
      <a href="https://www.twitter.com/" target="_blank">
        <img id="twitter" src="./assets/twitter.png" alt="logo">
      </a>
      <a href="#arriba" target="" id="subir">
        <img src="./assets/arriba.svg" alt="arriba" height="50px" width="50px">
      </a>
      <address id="correo">Email: Liceocolibris@edu.com</address>
      <p>Copyrigth &copy; Liceo los Colibris por Luxur90</p>
    </div>

  </footer>
